* {
  box-sizing: border-box;
}

main {
  height: 100%;
}
.bold {
  font-weight: bold;
}

/* Navbar Styling */
.nav-logo {
  height: 70px;
  padding: 5px;
}

.nav-links a {
  white-space: nowrap;
  padding: 20px;
  color: grey;
  font-size: 1.1rem;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: 2px underline;
  text-underline-offset: 5px;
  text-decoration-color: #ebcc34;
}

.nav-links a.active {
  color: #ebcc34;
}

.nav-links a.active:hover {
  color: #ebcc34;
  text-decoration: none;
}

.nav-btn {
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  color: #ebcc34;
  padding: 5px 10px;
  font-size: 1.1rem;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #ebcc34;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
}

.nav-sign-up {
  background-color: #ebcc34;
  color: white;
}

.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: #ebcc34;
  margin-bottom: 5px;
}

.custom-toggler {
  width: 50px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border: 2px solid #ebcc34;
}
/* End of Navbar Styling */

hr {
  margin: 0px;
  padding: 0;
  color: gray;
  background-color: gray;
}

/* Home Page Styling */
.homepage {
  margin: 20px;
  padding: 30px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("images/logo_icon.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}
/* HomeShifting styling */
.center {
  height: 80%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.split {
  display: flex;
}

.left-pane {
  margin: 20px 10px;
  overflow-y: auto;
}

.form-from,
.form-to {
  display: inline-block;
  padding: 0px 10px;
  margin-bottom: 20px;
  overflow-y: hidden;
}

.form-from > label,
.form-to > label {
  padding: 2px;
  margin-right: 10px;
}

.form-date {
  margin: 40px 10px;
}

.form-submit {
  margin: 20px 10px;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}

.right-pane {
  margin: 10px 10px;
  padding: 20px;
}

.cards-list {
  display: flex;
  overflow-x: auto;
}

.card {
  width: 300px;
  font-size: 12px; /* ADD */
  display: flex; /* ADD */
  flex-direction: column; /* ADD */
  position: relative;
  align-items: center;
  margin: 10px;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card-image {
  width: 300px;
  height: 250px;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-desc {
  font-size: medium;
}

.card-price {
  font-size: 0.9rem;
}

.text-link {
  text-decoration: none;
  color: inherit;
}

.text-link:hover {
  text-decoration: none;
  color: inherit;
}

/* End of HomeShifting styling */

/* User Details */
.user-details {
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.user-details form {
  padding: 20px 60px;
  border: 1px solid #ebcc34;
  border-radius: 10px;
  background-color: #eee;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.user-info,
.trip-details {
  margin: 20px;
}

.checkout-label {
  display: block;
  justify-content: center;
  font-size: 0.75rem;
  font-style: bold;
  text-transform: uppercase;
  padding-top: 0.75rem;
}

.checkout-input {
  border: 1px solid #ccc;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.user-locations {
  display: flex;
}

.location {
  margin: 20px;
}

.checkout-journey {
  margin: 20px;
}

.checkout-date {
  margin-top: 30px;
}
.checkout-submit {
  margin: 20px;
  float: right;
}

.required:after {
  content: " *";
  color: red;
}
/* End of User Details */

/* Place Order Styling */
.order-details {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-details > .location {
  padding: 0px;
  margin: 0px;
}

.order-submit {
  margin: 30px 0px 0px -20px;
}

/* End of Place Order Styling */

/* Booked status styling */
.booked-status {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Driver SignUp styling */
.driver {
  display: flex;
  justify-content: center;
}

.driver-details,
.vehicle-details,
.address-details {
  margin-top: 10px;
  margin-right: 20px;
}

.checkout-button {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.order {
  box-shadow: black 0px 0px 5px;
  border-radius: 10px;
}

.user-profile {
  margin: 20px;
  padding: 20px;
}

.user-orders {
  display: flex;
  margin-top: -70px;
}

.user-order-from {
  margin: 20px;
  padding: 20px;
}

/* End of Driver Page styling */
/* Contact Page styling */
.contact {
  margin: 20px;
  padding: 20px;
  font-size: large;
}

/* End of Contact Page styling */
/* About Page styling */
.about {
  margin: 20px;
  padding: 20px;
  font-size: large;
}
